# Object files


# Precompiled Headers

# Libraries

# Shared objects (inc. Windows DLLs)
*.dll

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files

#compress files
.zip
.rar

#images


!.gitkeep

#project preference
*.sublime*